{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="page-section" id="about">
    <div class="container pt-5">
        <section class="page-section" id="contact">
            <div class="container pb-5 pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Let's Get In Touch!</h2>
                        <hr class="divider my-4" />
                        <p class="text-50 mb-4">Do you want to start taking payments online for your business? Do you need a reliable back-end solution for a large web project? We can help with that! Contact us today!</p>
                    </div>
                </div>
                <div class="row">
                    {% comment %} <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div> {% endcomment %}
                    <div class="col mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:support@lateeflab.com">support@lateeflab.com</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock %}