asgiref==3.7.2
bleach==6.1.0
boto3==1.28.78
botocore==1.31.78
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.2
dj-database-url==0.5.0
Django==4.2.7
#django-cart @ git+https://github.com/bmentges/django-cart.git@f2578e7cbe00a64bde3139c6da7c05f820cd281a
django-cleanup==8.0.0
django-cors-headers==4.4.0
django-otp==1.2.4
django-storages==1.14.2
#django-summernote==0.8.20.0
djangorestframework==3.15.2
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
packaging==23.2
Pillow==11.3.0
psycopg2-binary==2.9.10
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
qrcode==7.4.2
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
stripe==2.57.0
typing-extensions==4.8.0
urllib3==1.26.18
webencodings==0.5.1
whitenoise==6.6.0
