{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4 sticky-top">
        <h5 class="card-header bg-success text-white">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Like the content posted on this site? Need help with another web project? Want to give some feedback? Feel free to contact me via email or social media!</p>
        <a href="{% url 'about' %}"class="btn btn-success">Know more!</a>
    </div>
    </div>
</div>

{% endblock sidebar %}