{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <div class="card my-4 sticky-top">
        <h5 class="card-header bg-success ">About The Lab</h5>
        <div class="card-body">
            <div class="row mx-2">
                <p class="card-text"> Like the content posted on this site? Need help with another web project? Want to give some feedback? Feel free to contact me via email or social media!</p>
                <a href="{% url 'about' %}"class="btn btn-success">Know more!</a>
            </div>
            <div class="row pt-5 mx-5">
                <a href="https://www.digitalocean.com/?refcode=38dab145d202&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg" alt="DigitalOcean Referral Badge" /></a>
            </div>
            <div class="row pt-5 mx-5">
                 <!-- Ezoic - sidebar_floating_1 - sidebar_floating_1 -->
                <div id="ezoic-pub-ad-placeholder-101"> </div>
                <!-- End Ezoic - sidebar_floating_1 - sidebar_floating_1 -->
            </div>
        </div>
       
    </div>
</div>
{% endblock sidebar %}