{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #f9f9f9;
}

#hero .container {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}

#hero h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: #49b5e7;
  text-transform: uppercase;
}

#hero .btn-get-started:hover {
  background: #76c7ed;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 80%;
  }
}

</style>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

<div class="container">
    <div class="row">
    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Get To Know The Team</h1>
        <h2>Connect with the people behind The Lab.</h2>
        <!--<div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>  -->
    </div>
    <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="{% static 'aboutus1.png' %}" alt="aboutus1" class="img-fluid">
    </div>
    </div>
</div>

</section><!-- End Hero -->

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">What is LateefLab?</h2>
        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="row mb-4 pt-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Biography</h2>
        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div> 

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="">
          <h5 class="mb-0">Lateef Adetona</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
           <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li> -->
            <li class="list-inline-item"><a href="https://twitter.com/heyylateef" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/heyylateef" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/lateefadetona/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>

{% endblock %}